    <settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <localRepository/>
      <interactiveMode/>
      <offline/>
      <pluginGroups/>
      <servers>
        <server>
          <id>nexus.snapshots</id>
          <username>jarjar</username>
          <password>binks</password>
        </server>
        <server>
          <id>nexus.releases</id>
          <username>jarjar2</username>
          <password>binks</password>
        </server>
        <server>
          <id>docker</id>
          <username>jarjar3</username>
          <password>binks</password>
        </server>
      </servers>
      <mirrors>
        <mirror>
          <id>nexus.central</id>
          <name>Nexus Central</name>
          <url>http://192.168.1.150:8081/repository/maven-central/</url>
          <mirrorOf>central</mirrorOf>
        </mirror>
      </mirrors>
      <proxies/>
      <profiles/>
      <activeProfiles/>
    </settings>